#fetchContent {
    opacity: 0.1;
    transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

#fetchContent.newData {
    opacity: 1;
  }

  body {
    background-color: black;
    color: white;
    }

.button {
    background-color: yellowgreen; /*tomato*/
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: table;/*inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
  }
  
  .button1 {border-radius: 2px;}
  .button2 {border-radius: 4px;}
  .button3 {border-radius: 8px;}
  .button4 {
    border-radius: 12px;
    transition: background-color 0.2s 0.1s ease;
  }
  .button4:hover {
      background-color: tomato;
      color: #333;
    }

  .button5 {border-radius: 50%;}

table {
  border-collapse: collapse;
  border: 1px white;
  width: 100%;
  }
th, td {
  border: 1px solid greenyellow;
  }

  .footer {
    opacity: 0.3;
    color: pink;
    transition: background-color 0.8s 0.1s ease;
  }
  .footer:hover {
    opacity: 1.0;
      color: dodgerblue;
    }

